/* imported text */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* styles for all websites */
* {
    padding: 0%;
    margin: 0;
    background-color: rgb(255, 90, 90);
}

/* centre content vertically and horizontally */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* displays contents in a column */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* width fulscreen */
.full-width {
    width: 100vw;
}

/* this makes all of the cards max width 300px */
.card {
    max-width: 300px;
}

/* all images layouts and size*/
.card {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* songs images sizes */
.songs-images {
    width: 250px;
    height: 250px;
    object-fit: contain;
    position: relative;
}

  .image-description {
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(154, 29, 29, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 20;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .1s;
  }
  
  .image-wrap:hover .image-description {
    visibility: visible;
    opacity: 1;
  }
/* title border and background color */
#title-div {
    border: 4px rgb(93, 0, 0) solid;
    background-color: rgb(255, 130, 130);
}

/* border on the sides of title */
/* Heading text - size,color,background color */
h1 {
    border-left: 4px rgb(93, 0, 0) solid;
    border-right: 4px rgb(93, 0, 0) solid;
    font-family: "Oswald", sans-serif;
    color: rgb(46, 0, 0);
    font-size: calc(2rem + 2vh + 2vh);
    background-color: rgb(255, 130, 130);
}

/* cover image sizing */
#cover-image {
    width: 70%;
    height: 400px;
    object-fit: cover;
    object-position: center top;
    border: 4px rgb(93, 0, 0) solid;
}

/* this changes size of the cover image as you zoom into the doc */
@media (max-width:900px) {
    #cover-image {
        height: 200px;
    }
}

@media (max-width:500px) {
    #cover-image {
        width: 100%;
    }
}

/* this makes it so the cover image disapears */
@media (max-width:400px) {
    #cover-image {
        display: none;
    }
}

@media (max-width:1000px) {
    #gallery-div {
        grid-template-areas:
            "item1 item2"
            "item3 item4"
    }
}

@media (max-width:450px) {
    #gallery-div {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
    }
}

/* gallry styles */
#gallery-div {
    display: grid;
    grid-template-areas:
        "item1 item2 item3 item4"
}

/* gallery items */
#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
}

#item4 {
    grid-area: item4;
}