/* imported text */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* styles for all websites */
* {
    padding: 0%;
    margin: 0;
    background-color: rgb(255, 90, 90);
    box-sizing: border-box;
}

/* centre content vertically and horizontally */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* displays contents in a column */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* width fulscreen */
.full-width {
    width: 100vw;
}

/* this makes all of the cards max width 300px */
.card {
    max-width: 300px;
}

/* all images layouts and size*/
.card {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* songs images sizes */
.songs-images {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
}

/* this allows text of the image so the viewer is able to read what song it is
without showing the text at all times making it look cluttered */
  .image-description {
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(154, 29, 29, 0.72);
    color: #ffffff;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .1s;
  }
  
  
  .image-hover:hover .image-description {
    visibility: visible;
  }
/* title border and background color */
#title-div {
    border: 4px rgb(93, 0, 0) solid;
    background-color: rgb(255, 130, 130);
    letter-spacing: 10px;
}

/* border on the sides of title */
/* Heading text - size,color,background color */
h1 {
    border-left: 4px rgb(93, 0, 0) solid;
    border-right: 4px rgb(93, 0, 0) solid;
    font-family: "Oswald", sans-serif;
    color: rgb(46, 0, 0);
    font-size: calc(2rem + 2vh + 2vh);
    background-color: rgb(255, 130, 130);
}

/* cover image sizing */
#cover-image {
    width: 70%;
    height: 400px;
    object-fit: cover;
    object-position: center top;
    border: 4px rgb(93, 0, 0) solid;
}


/* this is the flexbox layout for my webpage that is responsive webdesign */
#gallery-div {
    display: flex;
    justify-content: space-evenly;
    /* this means the images wrap instead of continuing in a straight line
    if you dont have this that is was is set to default */
    flex-wrap: wrap;
    align-content: center;
}

