/* imported text */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* styles for all websites */
* {
    padding: 0%;
    margin: 0;
    background-color: rgb(255, 90, 90);
}

#title {
    /* width fulscreen */
    width: 100vw;
    /* centre content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* nav bar border? */
    border: 4px rgb(93, 0, 0) solid;
    background-color: rgb(255, 130, 130);
}


h1 {
    /* border on the sides of title */
    border-left: 4px rgb(93, 0, 0) solid;
    border-right: 4px rgb(93, 0, 0) solid;
    /* Heading text - size,color,background color */
    font-family: "Oswald", sans-serif;
    color: rgb(46, 0, 0);
    font-size: calc(2rem + 2vh + 2vh);
    background-color: rgb(255, 130, 130);
}
